.footer {
  background-color: $color__grey;
  color: $color__beige;
  text-align: center;
  justify-content: space-between;
  align-content: center;
  @include flex__row;
}
.footer__link {
  display: block;
}
.footer__col {
  margin: 0 auto;
  padding: 1.5em;
  & p {
    margin: 0 auto;
    margin-top: 15px;
  }
  & a {
    color: $color__white;
    @include transition;
  }
  & a:hover {
    color: $color__main;
    text-decoration: none;
    opacity: 1;
  }
}
.footer__logo {
  width: 15%;
  height: 100%;
}
.footer__icons {
  margin-top: 5%;
  & a {
    display: inline-block;
    color: $color__beige;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    @include transition;
    &:hover {
      color: $color__main;
      text-decoration: none;
      opacity: 1;
    }
  }
}
.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  & a {
    color: $color__white;
    @include transition;
    margin: 0;
    padding: 0;
  }
  & a:hover {
    @include hover;
    color: $color__main;
    text-decoration: none;
    opacity: 1;
  }
}
@media (max-width: 1270px) {
  .footer__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-width: 100%;
    & p {
      width: 80%;
    }
  }
}
