.footer {
  background-color: $color__grey;
  color: $color__beige;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  @include flex__column;
}
.footer__col {
  margin-top: 1.5em;
  width: 20rem;
  min-width: 20rem;
  margin-left: 3.5em;
  margin-right: 3.5em;
  margin-bottom: 1em;
  padding: 1em;
  & p {
    display: block;
    margin: 0;
    margin-top: 15px;
  }
  & a {
    color: $color__white;
    @include transition;
  }
  & a:hover {
    color: $color__main;
    text-decoration: none;
    opacity: 1;
  }
}
.footer__icons {
  margin-top: 5%;
  & a {
    display: inline-block;
    color: $color__beige;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    @include transition;
    &:hover {
      color: $color__main;
      text-decoration: none;
      opacity: 1;
    }
  }
}
.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  & a {
    color: $color__white;
    margin-top: 15px;
    display: inline-block;
    @include transition;
  }
  & a:hover {
    @include hover;
    color: $color__main;
    text-decoration: none;
    opacity: 1;
  }
}
@media (max-width: 1270px) {
  .footer__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    & p {
      width: 80%;
    }
  }
}
