.icon {
  width: 1.2em;
  margin-right: 0.5em;
}
.icon__form {
  width: 100%;
  color: $color__white;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.icon__search {
  width: 1.5em;
  margin-right: 0.5em;
}
.icon__admin {
  width: 10%;
  margin-right: 1.5em;
}
.icon__success {
  width: 8%;
  color: $color__grey;
  margin-bottom: 1em;
  margin-top: 1em;
}
.icon__spec {
  width: 2em;
  margin-bottom: 0.5em;
  color: $color__main;
}
@media (min-width: 480px) {
  .icon__form {
    width: 8%;
    margin: 2em;
  }
}
@media (min-width: 595px) {
  .icon__form {
    width: 10%;
    margin: 2em;
  }
}
@media (min-width: 767px) {
  .icon__form {
    width: 10%;
    margin: 2em;
  }
}
@media (max-width: 812px) {
  .icon__form {
    width: 10%;
    margin: 2em;
  }
  .icon__spec {
    flex-direction: column;

    & .icon__form {
      width: 100%;
      flex-basis: 100%;
      margin: 1em;
    }
  }
}
@media (min-width: 993px) {
  .icon__form {
    width: 30%;
    margin: 20%;
  }
}
