h1 {
  font-family: "arial", sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  margin-bottom: 1em;
}

h2 {
  font-family: "arial", sans-serif;
  color: #2661ac;
  margin: 0.5em;
  font-weight: 900;
  text-align: center;
}

h3 {
  font-family: "arial", sans-serif;
  color: #293338;
  font-weight: 100;
}

.title__home {
  color: #ffffff;
}

.main__title {
  color: #293338;
  margin-top: 1em;
}

.sub__title {
  color: #2661ac;
  margin-top: 3em;
}

.footer__heading {
  color: #ffffff;
  font-size: 1.25rem;
}

.home__sub {
  color: #ffffff;
  font-size: 1.35rem;
  margin-top: -1em;
  margin-bottom: 1em;
}

.btn {
  background-color: #2661ac;
  color: #ffffff;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
  float: right;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}

.btn:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn:hover:hover {
  opacity: 0.7;
}

.btn__danger {
  background-color: #d8000c;
  margin-right: 0.5em;
}

.link {
  color: #293338;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.link:hover {
  color: #2661ac;
  text-decoration: underline;
}

.link:hover:hover {
  opacity: 0.7;
}

.link__dropdown:hover {
  text-decoration: none;
}

.adminNav {
  background-color: #ffffff;
  width: 100%;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.adminNav a {
  color: #293338;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.adminNav a:hover {
  color: #f1aa1e;
}

.adminNav a:hover:hover {
  opacity: 0.7;
}

@media (min-width: 200px) and (max-width: 350px) {
  .adminNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dropdown {
  width: 97.5%;
  overflow: scroll;
  position: absolute;
  z-index: 1;
  min-height: 210px;
  max-height: 210px;
  background-color: #ffffff;
}

.dropdown .home__card {
  width: 100vh;
  min-height: 100%;
  max-height: 100%;
  margin-left: 1em;
  border: none;
}

.dropdown .home__img {
  float: left;
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  margin-top: 2em;
  margin-right: 5%;
  border-radius: 0px;
}

.dropdown .home__title {
  text-align: left;
  margin-left: 14%;
  margin-top: 2em;
}

.dropdown .home__price {
  text-align: left;
  margin-left: 14%;
}

.dropdown .btn__card {
  background-color: #2661ac;
  color: #ffffff;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  float: left;
}

.dropdown .btn__card:hover {
  color: #ffffff;
  text-decoration: none;
}

.dropdown .btn__card:hover:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}

@media (max-width: 767px) {
  .dropdown {
    top: 35%;
  }
}

.footer {
  background-color: #293338;
  color: #f4f5f4;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .row {
  max-width: 100%;
}

.footer__col {
  margin-top: 1.5em;
  width: 20rem;
  min-width: 20rem;
  margin-left: 3.5em;
  margin-right: 3.5em;
  margin-bottom: 1em;
  padding: 1em;
}

.footer__col p {
  display: block;
  margin: 0;
  margin-top: 15px;
}

.footer__col a {
  color: #ffffff;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}

.footer__col a:hover {
  color: #f1aa1e;
  text-decoration: none;
  opacity: 1;
}

.footer__icons {
  margin-top: 5%;
}

.footer__icons a {
  display: inline-block;
  color: #f4f5f4;
  width: 30px;
  height: 30px;
  margin-right: 3px;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}

.footer__icons a:hover {
  color: #f1aa1e;
  text-decoration: none;
  opacity: 1;
}

.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu a {
  color: #ffffff;
  margin-top: 15px;
  display: inline-block;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}

.footer__menu a:hover {
  color: #f1aa1e;
  text-decoration: none;
  opacity: 1;
}

.footer__menu a:hover:hover {
  opacity: 0.7;
}

@media (max-width: 1270px) {
  .footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
  .footer__col p {
    width: 80%;
  }
}

.search {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 0.2em;
}

.search .search__input {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 42px;
  border: none;
  padding: 5px;
  border-radius: 0;
}

.search .search__box {
  height: 42px;
  padding-left: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  color: #f1aa1e;
}

.search :hover:hover {
  opacity: 0.7;
}

.form {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin: 32px auto 37px;
  font-size: 1rem;
  margin-top: 5%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__label {
  width: 100%;
  color: #000000;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}

.form__control {
  width: 100%;
  padding: 20px 20px 20px 10px;
  height: 25px;
  display: block;
  border: none;
  outline: none;
  border: 1px solid #b1b1b1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}

.form__control:hover {
  border: 1px solid #f1aa1e;
}

.form__newHotel {
  background-color: #f4f5f4;
}

textarea::-webkit-input-placeholder {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

textarea:-ms-input-placeholder {
  transform: translateY(-10px);
}

textarea::-ms-input-placeholder {
  transform: translateY(-10px);
}

textarea::placeholder {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.form__error {
  color: #d8000c;
}

.form__inline {
  width: 90%;
  height: 25px;
  padding: 20px 20px 20px 10px;
  display: inline-block;
  border: none;
  outline: none;
  border: 1px solid #b1b1b1;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}

.form__inline:hover {
  border: 1px solid #f1aa1e;
}

.form__col--1 {
  background-color: #293338;
  text-align: center;
  padding: 6em;
}

.form__col--2 {
  margin: 0 auto;
}

.form__info {
  font-size: 1em;
  color: #ffffff;
}

@media (max-width: 595px) {
  .search {
    width: 100%;
  }
  .form__container {
    width: 100%;
  }
  .form__col--1 {
    width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .form__col--2 {
    width: 100%;
  }
  .form__control {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .search {
    width: 100%;
  }
  .form__container {
    width: 100%;
  }
  .form__col--1 {
    width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .form__col--2 {
    width: 100%;
  }
  .form__control {
    width: 100%;
  }
}

@media all and (max-width: 992px) {
  .form__container {
    width: 100%;
  }
  .form__col--1 {
    width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .form__col--2 {
    width: 100%;
  }
  .form__control {
    width: 100%;
  }
}

body {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  min-height: 110vh;
  background-color: #f4f5f4;
}

.icon {
  width: 1.2em;
  margin-right: 0.5em;
}

.icon__form {
  width: 100%;
  color: #ffffff;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.icon__search {
  width: 1.5em;
  margin-right: 0.5em;
}

.icon__admin {
  width: 10%;
  margin-right: 1.5em;
}

.icon__success {
  width: 8%;
  color: #293338;
  margin-bottom: 1em;
  margin-top: 1em;
}

.icon__spec {
  width: 2em;
  margin-bottom: 0.5em;
  color: #f1aa1e;
}

@media (min-width: 480px) {
  .icon__form {
    width: 8%;
    margin: 2em;
  }
}

@media (min-width: 595px) {
  .icon__form {
    width: 10%;
    margin: 2em;
  }
}

@media (min-width: 767px) {
  .icon__form {
    width: 10%;
    margin: 2em;
  }
}

@media (max-width: 812px) {
  .icon__form {
    width: 10%;
    margin: 2em;
  }
  .icon__spec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icon__spec .icon__form {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 1em;
  }
}

@media (min-width: 993px) {
  .icon__form {
    width: 30%;
    margin: 20%;
  }
}

.logo {
  width: 50%;
  height: 100%;
}

.navbar {
  width: 100%;
  background-color: #f4f5f4;
  z-index: 1000;
}

.navbar__link {
  color: #293338;
  text-transform: uppercase;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}

.navbar__link:hover {
  color: #f1aa1e;
  text-decoration: none;
  opacity: 1;
}

@media (max-width: 1024px) {
  .search {
    width: 100%;
  }
  .navbar__link {
    text-align: center;
  }
}

.spinner {
  min-width: 100%;
  min-height: 100vh;
}

.spinner .spinner__animation {
  margin: 0 auto;
  margin-top: 25%;
  border: 5px solid #f1aa1e;
  border-top: 5px solid #f4f5f4;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.admin {
  min-width: 100%;
}

.admin__col {
  width: 100%;
  color: #293338;
  background-color: #ffffff;
  text-align: left;
  margin: 1em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin__text {
  text-align: center;
  width: 60%;
  padding: 1em;
}

.admin__logInfo {
  width: 100%;
  background-color: #ffffff;
  color: #293338;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5em;
}

.admin__logInfo p {
  text-align: left;
  font-size: 1.25rem;
}

.admin__hotels {
  width: 100%;
  color: #293338;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}

.admin__hotels h2 {
  width: 100%;
}

.admin__map {
  width: 15rem;
}

.admin__box {
  width: 100%;
  background-color: #f4f5f4;
  border-radius: 5px;
  padding: 30px 40px 5px;
  margin: 1em;
}

.admin__box ul {
  margin: 0;
  padding: 0;
}

.admin__box li {
  margin-top: 1em;
  margin-left: 0;
  padding: 0;
}

.error {
  min-width: 100%;
  min-height: 100vh;
}

.admin__error {
  width: 100%;
  min-height: 55vh;
  background-color: transparent;
  color: #293338;
  margin: 32px auto 37px;
  padding: 1em;
  margin-top: 1em;
  text-align: center;
}

.admin__error h2 {
  color: #293338;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5em;
}

.react-confirm-alert-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.react-confirm-alert-body h1 {
  font-size: 1.25rem;
  color: #293338;
}

.enquiry__name {
  margin-top: 1em;
}

.enquiry__hotel {
  width: 80%;
  margin-bottom: 10%;
}

.header {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  max-width: 100%;
  min-height: 75vh;
  background: url("../../../images/header2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.home {
  min-width: 100%;
  min-height: 75vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__col {
  margin-top: 10%;
}

.home__img {
  border-radius: 50% !important;
  width: 100%;
  height: 100%;
}

@media (min-width: 200px) and (max-width: 450px) {
  .home {
    min-height: 170vh;
  }
  .home__content {
    top: 20%;
  }
}

@media (min-width: 451px) and (max-width: 599px) {
  .home {
    min-height: 200vh;
  }
  .home__content {
    top: 20%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .home {
    min-height: 210vh;
  }
  .home__content {
    top: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .home {
    min-height: 130vh;
  }
  .home__content {
    top: 25%;
  }
}

.hotel {
  padding-bottom: 10%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotel__card {
  color: #000000;
  margin: 1em;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  text-decoration: none;
}

.hotel__card .hotel__img {
  min-width: 25vh;
  min-height: 30vh;
  max-height: 30vh;
}

.hotel__card .hotel__title {
  margin-top: 2em;
  font-size: 1.5em;
  color: #2661ac;
}

.hotel__price {
  font-weight: 500;
}

.hotel__ul {
  padding: 0;
}

@media (max-width: 767px) {
  .hotel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel .hotel__card {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

.specific {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.specific .specific__col {
  width: 50%;
  float: left;
  margin: 0 auto;
}

.specific .specific__img {
  margin-top: 30%;
  width: 55vh;
  max-height: 50vh;
}

.specific .specific__details {
  margin: 0 auto;
  margin-left: 7em;
  padding: 1.5em;
  min-width: 47%;
  max-width: 47%;
}

.specific .specific__title {
  color: #2661ac;
  border-bottom: 1px solid #b1b1b1;
}

.specific__icons {
  border-bottom: 1px solid #b1b1b1;
  margin-top: 3em;
  margin-bottom: 1em;
}

@media (max-width: 999px) {
  .specific {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .specific .specific__col--1 {
    width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .specific .specific__img {
    margin-top: 10%;
    width: 100%;
  }
  .specific .specific__details {
    margin: 0 auto;
    padding: 1.5em;
    min-width: 100%;
    max-width: 100%;
  }
}

.login {
  min-width: 100%;
  min-height: 55vh;
  background-color: transparent;
  color: #293338;
  margin: 32px auto 37px;
  padding: 1em;
  margin-top: 2.5em;
  text-align: center;
}

.success {
  width: 100%;
  min-height: 55vh;
  background-color: transparent;
  color: #293338;
  margin: 32px auto 37px;
  padding: 1em;
  margin-top: 2.5em;
  text-align: center;
}

.success ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.success li {
  margin: 0;
  margin-left: 1em;
  margin-right: 1em;
}

@media (min-width: 200px) and (max-width: 450px) {
  .success ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 451px) and (max-width: 599px) {
  .success ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .success ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .success ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */