.btn {
  @include button;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: 600;
  float: right;
  @include transition;
}
.btn__logout {
  float: none;
  margin: 0 auto;
}
.btn__reset {
  background-color: $color__blue;
}
.btn__danger {
  background-color: $error;
  margin-right: 0.5em;
}
