.icon {
  margin-right: 0.2em;
}
.icon__form {
  margin: 2em;
}
.icon__success {
  color: $color__grey;
  margin: 0;
  margin-top: 1em;
}
.icon__access {
  color: $color__grey;
  margin: 1em;
}
.icon__password {
  cursor: pointer;
  position: absolute;
  top: 73%;
  right: 1em;
  & :hover {
    scale: 1.1;
  }
}
.icon__spec {
  margin-bottom: 0.5em;
  color: $color__main;
}
@media (max-width: 812px) {
  .icon__spec {
    flex-direction: column;
  }
}
