.link {
  @include link;
}
.link__blue {
  color: $color__blue;
  text-transform: capitalize;
  padding: 0.5em;
}
.link__dropdown:hover {
  text-decoration: none;
}
.login__link {
  display: block;
  text-transform: capitalize;
  margin: 1em;
}
