.search {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 0.2em;
  & .search__input {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    border: 1px solid $color__lightGrey;
    padding: 5px;
    border-radius: 0;
  }
  & .search__input:hover {
    border: 1px solid $color__main;
  }
}
.search__home {
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 200px) and (max-width: 812px) {
  .search__home {
    width: 100%;
  }
}
@media only screen and (min-device-width: 280px) and (max-device-width: 667px) and (min-aspect-ratio: 1/1) and (orientation: landscape) {
  .search__home {
    width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (min-aspect-ratio: 1/1) and (orientation: landscape) {
  .search__home {
    width: 100%;
  }
}
