.search {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 0.2em;
  & .search__input {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    border: 1px solid $color__lightGrey;
    padding: 5px;
    border-radius: 0;
  }
  & .search__input:hover {
    @include hover__search;
  }
}
