.admin {
  min-width: 100%;
  @include flex__column;
}
.admin__col {
  width: 100%;
  color: $color__grey;
  background-color: $color__white;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px;
  @include flex__column;
}
.admin__col--hotels {
  @include flex__row;
}
.admin__text {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 1em;
}
.admin__box {
  width: 100%;
  text-align: left;
  background-color: $color__beige;
  padding: 15px 15px 5px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  & ul {
    margin: 0;
    padding: 0;
  }
  & li {
    margin-top: 1em;
    margin-left: 0;
    padding: 0;
  }
}
.error {
  min-width: 100%;
  min-height: 100vh;
}
.admin__error {
  width: 100%;
  min-height: 55vh;
  background-color: transparent;
  color: $color__grey;
  margin: 32px auto 37px;
  padding: 1em;
  margin-top: 1em;
  text-align: center;
  & h2 {
    color: $color__grey;
    text-align: center;
    margin: 0;
    margin-bottom: 0.5em;
  }
}
.admin__buttons {
  margin-top: 2.5em;
}

.admin__edit {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.react-confirm-alert-body {
  @include flex__column;
  & h1 {
    font-size: 1.25rem;
    color: $color__grey;
  }
}
@media (min-width: 200px) and (max-width: 568px) {
  .admin__headings {
    text-align: center;
  }
  .admin__col {
    width: 100%;
    text-align: center;
  }
  .admin__box {
    text-align: center;
  }
  .admin__buttons {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
}
