.admin {
  min-width: 100%;
}
.admin__col {
  width: 100%;
  color: $color__grey;
  background-color: $color__white;
  text-align: left;
  margin: 1em;
  padding: 1em;
  @include flex__column;
}
.admin__text {
  text-align: center;
  width: 60%;
  padding: 1em;
}
.admin__logInfo {
  width: 100%;
  background-color: $color__white;
  color: $color__grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5em;
  & p {
    text-align: left;
    font-size: 1.25rem;
  }
}
.admin__hotels {
  width: 100%;
  color: $color__grey;
  background-color: $color__white;
  flex-wrap: wrap;
  margin: 1em;
  padding: 1em;
  @include flex__row;
  & h2 {
    width: 100%;
  }
}
.admin__box {
  width: 100%;
  background-color: $color__beige;
  border-radius: 5px;
  padding: 30px 40px 5px;
  margin: 1em;
  & ul {
    margin: 0;
    padding: 0;
  }
  & li {
    margin-top: 1em;
    margin-left: 0;
    padding: 0;
  }
}
.error {
  min-width: 100%;
  min-height: 100vh;
}
.admin__error {
  width: 100%;
  min-height: 55vh;
  background-color: transparent;
  color: $color__grey;
  margin: 32px auto 37px;
  padding: 1em;
  margin-top: 1em;
  text-align: center;
  & h2 {
    color: $color__grey;
    text-align: center;
    margin: 0;
    margin-bottom: 0.5em;
  }
}
.react-confirm-alert-body {
  @include flex__column;
  & h1 {
    font-size: 1.25rem;
    color: $color__grey;
  }
}
