$desktop-img: url("../../../images/header3.jpg");
$small-img: url("../../../images/mobile-header.jpg");
$landscape-img: url("../../../images/landscape-header.jpg");
.header {
  background-image: $desktop-img;
  background-color: $color__grey;
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  @include flex__row;
}
.home {
  width: 100%;
  min-height: 85vh;
  text-align: center;
  margin: 0;
}
.home__col {
  margin-top: 10%;
  padding: 0;
}
@media (min-width: 200px) and (max-width: 812px) {
  .header {
    background-image: $small-img;
    background-position-x: left;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-aspect-ratio: 1/1) and (orientation: landscape) {
  .header {
    background-image: $landscape-img;
  }
  .home__col {
    margin-top: 5%;
  }
  .home__sub {
    margin-bottom: 0;
  }
}
