.home__header {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  box-shadow: $box__shadow;
}
.home {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  @include flex__column;
}
.home__col {
  margin-top: 5%;
}
.infoBoxes {
  margin-top: 10%;
  margin-bottom: 5%;
  @include flex__row;
}
.infoBoxes__card {
  color: $color__main;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  box-shadow: $box__shadow;
}
.infoBoxes__img {
  width: 100%;
  height: 100%;
}
.infoBoxes__link {
  color: $color__black;
  text-transform: uppercase;
  & :hover {
    @include hover;
  }
}
@media (min-width: 200px) and (max-width: 450px) {
  .home {
    min-height: 170vh;
  }
  .infoBoxes {
    flex-direction: column;
  }
  .infoBoxes__card {
    width: 100%;
  }
  .home__content {
    top: 20%;
  }
}
@media (min-width: 451px) and (max-width: 599px) {
  .home {
    min-height: 200vh;
  }
  .infoBoxes {
    flex-direction: column;
  }
  .infoBoxes__card {
    width: 100%;
  }
  .home__content {
    top: 20%;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .home {
    min-height: 210vh;
  }
  .infoBoxes {
    flex-direction: column;
  }
  .infoBoxes__card {
    width: 80%;
  }
  .home__content {
    top: 20%;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .home {
    min-height: 130vh;
  }
  .infoBoxes {
    flex-direction: row;
  }
  .infoBoxes__card {
    width: 100%;
  }
  .home__content {
    top: 25%;
  }
}
