.specific {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: $color__white;
  color: $color__black;
  box-shadow: $box__shadow;
  @include flex__row;
}
.specific__col {
  min-width: 40%;
  justify-content: center;
  margin: 0 auto;
  @include flex__row;
}
.specific__img {
  width: 100%;
}
.specific__details {
  min-width: 50%;
  text-align: left;
}
.specific__title {
  color: $color__blue;
  margin-top: 0;
  @include line;
}
.specific__icons {
  @include line;
  margin-top: 3em;
  margin-bottom: 1em;
}
@media (max-width: 999px) {
  .specific {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & .specific__col--1 {
      width: 100%;
      flex: 100%;
    }
    & .specific__img {
      margin-top: 10%;
      width: 100%;
    }
    & .specific__details {
      margin: 0 auto;
      padding: 1.5em;
      min-width: 100%;
      max-width: 100%;
    }
  }
}
