.specific {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $color__white;
  color: $color__black;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: $box__shadow;
  @include flex__row;
  & .specific__col {
    width: 50%;
    float: left;
    margin: 0 auto;
  }
  & .specific__img {
    margin-top: 30%;
    width: 55vh;
    max-height: 50vh;
  }
  & .specific__details {
    margin: 0 auto;
    margin-left: 7em;
    padding: 1.5em;
    min-width: 47%;
    max-width: 47%;
  }
  & .specific__title {
    color: $color__blue;
    @include line;
  }
}
.specific__icons {
  @include line;
  margin-top: 3em;
  margin-bottom: 1em;
}
@media (max-width: 999px) {
  .specific {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & .specific__col--1 {
      width: 100%;
      flex: 100%;
    }
    & .specific__img {
      margin-top: 10%;
      width: 100%;
    }
    & .specific__details {
      margin: 0 auto;
      padding: 1.5em;
      min-width: 100%;
      max-width: 100%;
    }
  }
}
