.login {
  min-width: 100%;
  min-height: 55vh;
  background-color: transparent;
  margin: 32px auto 37px;
  padding: 1em;
}
.admin__login {
  min-width: 100%;
  color: $color__grey;
  padding: 1em;
  text-align: center;
  & p {
    font-size: 1.25rem;
  }
}
.password__wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}
