.success {
  width: 100%;
  min-height: 55vh;
  background-color: transparent;
  color: $color__grey;
  margin: 32px auto 37px;
  padding: 1em;
  margin-top: 2.5em;
  text-align: center;
  & ul {
    @include flex__row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  & li {
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (min-width: 200px) and (max-width: 450px) {
  .success ul {
    flex-direction: column;
  }
}
@media (min-width: 451px) and (max-width: 599px) {
  .success ul {
    flex-direction: column;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .success ul {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .success ul {
    flex-direction: column;
  }
}
