@mixin flex__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@mixin flex__column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin transition {
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}
@mixin hover {
  &:hover {
    opacity: 0.7;
  }
}
@mixin link {
  color: $color__grey;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  &:hover {
    @include hover;
    color: $color__blue;
    text-decoration: underline;
  }
}
@mixin button {
  background-color: $color__blue;
  color: $color__white;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  &:hover {
    @include hover;
    color: $color__white;
    text-decoration: none;
  }
}
@mixin line {
  border-bottom: 1px solid $color__lightGrey;
}
