$color__main: #f1aa1e;
$color__blue: #2661ac;
$color__grey: #293338;
$color__lightGrey: #b1b1b1;

$color__beige: #f4f5f4;
$color__white: #ffffff;
$color__black: #000000;

$error: #d8000c;
$success: #4f8a10;

$box__shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
$greyBack: linear-gradient($color__main, $color__grey 70%);
