$main-heading: "arial", sans-serif;

h1 {
  font-family: $main-heading;
  color: $color__white;
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1em;
}
h2 {
  font-family: $main-heading;
  color: $color__blue;
  margin: 0.5em;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
h3 {
  font-family: $main-heading;
  color: $color__grey;
  font-size: 1.5rem;
  font-weight: 100;
}
.title__white {
  color: $color__white;
}
.title__drop {
  color: $color__grey;
}
.title__grey {
  color: $color__grey;
}
